<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EOY_WEBapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/EOY_WEBapp.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            @Html.ActionLink("Sledovací panel", "Index","Home", null, new { @class="nav a-link" })
            <div class="subnav">
                <button class="subnavbtn">Reporty <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    @Html.ActionLink("Aktualní statistika", "Index","Report",null, new { @style="float: left; font-size: 16px; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" })
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Nastavení <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    @Html.ActionLink("Administrace", "Index","Account",null, new { @style="float: left; font-size: 16px; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" })
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <img src="~/Pictures/eoyLogo.png" alt="EOY-Logo" width="100px" />
        <p style="float:right;">Vytvořeno těmi nejlepšími</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
